{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Index page{% endblock %} | Blog Konrada</title>

    <link href="{% static "blog/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "blog/css/bootstrap-theme.min.css" %}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>

<script src="{% static "blog/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "blog/js/bootstrap.min.js" %}"></script>
{% block custom_scripts %}{% endblock custom_scripts %}
</body>
</html>

